*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 1.04em;
}

body{
    background-color: floralwhite;
    width: 100vw;
    max-width:100%;
}

.flex-collum-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    max-width:100%;
    width: 100vw;
    height: 33vh;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;


}

.conteiner-header{
    width: 15vh;
    height: 15vh;
    /*background-color: red;*/
    border: azure 2px solid;
    border-radius: 50%;
    animation: HeaderAnim 1s ease-in ;
}

.conteiner-header > img {
    width: 100%;
    height: auto;
}

#infos-header {
    animation: HeaderAnim 0.5s ease;

}
#header-titulo{
    color: blanchedalmond;
    font-size: 2em;
}
#span-header{
    font-size: 1.3em;
    color: blanchedalmond;
}

#titulo-main{
    text-align: center;
    width: 90vw;
    font-size: 1.5em;
    margin-top: 20px;
    color: rgb(192, 70, 0);
}

#subTitulo-main{
    text-align: center;
    color: rgb(192, 3, 3);
    font-size: 1.3em;
    margin: 20px;
}

.p-simples{
    text-indent: 20px;
    margin-block-end: 10px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

#contratar_servico_text{
    text-align:center;
    color: rgb(192, 3, 3);
    font-weight: bolder;
    font-size: 1.3em;
}

.Contratar_servicos{
    width: 90vw;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
}

.servico-text{
    font-size: 1em;
    font-weight:600;
    text-align: center;
    color:rgb(255, 255, 255);
}
.conteiner_servicos{
    justify-content: space-between;
    width: 200px;
    height: 300px;
    border-radius: 10%;
    background-color: rgba(95, 50, 22, 0.8);
    padding: 10px;
    margin: 10px;
}

.conteiner_servicos::before{
    content: "";
    position: relative;
    width: 100%;
    height: 20px;
    border-radius: 20px;
    background-color: rgb(219, 112, 50);
}

.conteiner_servicos > img{
    width: 60%;
    height: auto;
}

#pq_contratar{
    background-color: rgb(255, 169, 119);
    width: 100vw;
    max-width:100%;
    margin-top: 30px;
}

#pq_contratar-div > div{
    height: 200px;
}

#pq_contratar > h2{
    font-size: 2em;
    color: white;
    text-align: center;
    margin: 20px;
}

#pq_contratar > p{
    width: 70vw;
}

footer{
    background-color: rgb(0, 0, 0);
    width: 100vw;
    max-width:100%;
    height: 20vh;
}

#conteiner-footer{
    width: 70px;
    height: 70px;
    position: fixed;
    right: 30px;
    bottom: 50px;
    animation: infinite buttonWpp .5s ease-in alternate;
    border-radius: 50%;
    background-color: rgb(255, 60, 0);

}

#conteiner-footer > a > img{
    width: 95%;
}
@keyframes HeaderAnim {
    from{
        opacity: 0;
        transform: translateX(-30px);
    }to{
        opacity: 1;
        transform: translateX(0px);
    }
}


@keyframes buttonWpp{
    from{
        transform: rotate(0deg);
        opacity: 0.5;
    }to{
        transform: rotate(-30deg);
        opacity: 1;
    }
}

/*ANIMAÇÃO DOS CARDS COM JS*/
[data-animeCard]{
    opacity: 0;
    transition: .3s;
}

[data-animeCard="dir-left"]{
    transform: translate3d(-50px,0px,0px);
}

[data-animeCard="dir-righ"]{
    transform: translate3d(50px,0,0);
}

 /*classe que sera adicionada pelo js*/
[data-animeCard].animate{
    opacity: 1;
    transform: translate3d(0px,0px,0px);
}


/*MIDIAS QUERYS*/
@media only screen and (min-width: 600px) { 
    #header-titulo{
        font-size: 2.5em;
    }
    #span-header{
        font-size: 1.7em;
    }

    .conteiner-header{
        width: 20vh;
        height: 20vh;
    }

    #titulo-main{
        font-size: 2em;
    }

    #subTitulo-main{
        font-size: 1.8em;
    }

    #contratar_servico_text{
        font-size: 1.5em;
    }
    .p-simples{
        font-size: 1.1em;
    }
    
}

@media only screen and (min-width: 720px) { 
    .Contratar_servicos{
        width: 75vw;
    }

    #header-titulo{
        font-size: 3em;
    }
    #span-header{
        font-size: 2em;
    }

    .conteiner-header{
        width: 25vh;
        height: 25vh;
    }

    .servico-text{
        font-size: 1.2em;
        
    }
    .conteiner_servicos{
        justify-content: space-between;
        width: 250px;
        height: 350px;
   
    }
    #pq_contratar-div > div{
        height: 260px;
    }
    
}

@media only screen and (min-width: 1080px) { 
    .Contratar_servicos{
        width: 60vw;
    }


}

@media only screen and (min-width: 1200px) { 
    .Contratar_servicos{
        width: 90vw;
    }


}
